<form action="/post-email" method="post">
    Email nguoi gui: <input type="email" name="emailgui" class="form-control">
    Email nguoi nhan: <input type="email" name="emailnhan" class="form-control">
    Chu de: <input type="email" name="chude" class="form-control">
    Noi dung: <textarea name="noidung" id="" cols="30" rows="10" class="form-control"></textarea>
    <button type="submit">Send</button>
</form>